# Imports

In [26]:
import pandas as pd
import numpy as np
from sklearn import linear_model as lm

# Loading Data

In [2]:
df_raw = pd.read_csv('data/kc_house_data.csv')

In [6]:
df_raw.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Data Preparation

In [10]:
# features
x_train = df_raw.drop(['price', 'date'], axis=1)

# response variable
y_train = df_raw['price'].copy()

# Model Training

In [15]:
# model description
model_lr = lm.LinearRegression()

# model training
model_lr.fit(x_train,y_train)

LinearRegression()

In [16]:
# prediction
pred = model_lr.predict(x_train)

# Performance Metrics

In [18]:
df1 = df_raw.copy()

In [19]:
df1['prediction'] = pred

In [23]:
df1['error'] = df1['price'] - df1['prediction']

In [27]:
df1['error_abs'] = np.abs(df1['error'])

In [32]:
df1['error_perc'] = ((df1['price'] - df1['prediction']) / df1['price'])

In [34]:
df1['error_perc_abs'] = np.abs(df1['error_perc'])

In [35]:
df1[['id','price','prediction','error','error_abs','error_perc','error_perc_abs']].head()

,id,price,prediction,error,error_abs,error_perc,error_perc_abs
0,7129300520,221900.0,205766.264610,16133.735390,16133.735390,0.072707,0.072707
1,6414100192,538000.0,731219.649830,-193219.649830,193219.649830,-0.359144,0.359144
2,5631500400,180000.0,379097.882654,-199097.882654,199097.882654,-1.106099,1.106099
3,2487200875,604000.0,457424.134325,146575.865675,146575.865675,0.242675,0.242675
4,1954400510,510000.0,444789.054718,65210.945282,65210.945282,0.127865,0.127865

In [37]:
# mean absolute error
mae = np.mean(df1['error_abs'])
print('MAE: {}'.format(mae))

MAE: 125921.54419398335

In [38]:
# mean absolut percentage error
mape = np.mean(df1['error_perc_abs'])
print('MAPE: {}'.format(mape))

MAPE: 0.2558051253618697